/* TABLET */
@media only screen and (max-width:1200px){
    /* home */
    #homePage{
        flex-direction: column-reverse;
        text-align: center;
        padding: 0;
    }

    #homePage #right img#avatar{
        width: 90%;
        scale: .8;
        transition: 500ms ease;
        animation: showHome 1s ease-in;
        transform: translateY(100px);
    }

    #homePage #right img#avatar.active{
        transform: translateY(0%);
    }

    #homePage #left{
        width: 100%;
        text-align: center;
    }

    #homePage #left #headerWrapper h1{
        text-align: center;
        font-size: 3em;
    }

    #homePage #left #headerWrapper h2{
        text-align: center;
        font-size: 3em;
    }

    #homePage #left #buttonsWrapper{
        margin: 0 auto;
    }

    /* projects */
    #projectWrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }

    .project{
        width: 90%;
        padding: 2%;
        margin: 5% auto;
    }

    /* about me */
    #about{
        margin-bottom: 60%;
    }

    #about #wrapper{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    #about #wrapper p#paragraf{
        width: 100%;
        margin: 0 auto;
        padding: 3%;
        scale: .9;
        text-align: center;
    }

    #about #wrapper img#image{
        width: 70%;
        margin: 0 auto;
    }

    /* contact */
    #contact{
        margin-bottom: 50%;
    }

    #contact h2{
        font-size: 3em;
    }

    #contact p#p1{
        width: 100%;
        text-align: center;
        margin: 0 auto 10% auto;
        padding: 0;
        font-size: 3em;
    }

    #contact p#p2{
        font-size: 3em;
    }

    #navigation{
        position: fixed;
        bottom: 0%;
        left: 49%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 10000;
        padding-bottom: 2%;
    }
}

@media only screen and (max-width: 576px){
    /* home */
    #homePage{
        margin-bottom: 20%;
    }

    #homePage h1{
        font-size: 1em;
    }

    #homePage h2{
        scale: .8;
        font-size: 1em;
    }

    #homePage #left #buttonsWrapper a{
        scale: .9;
    }

    /* projects */

    .buttons{
        justify-content: center;
        flex-direction: column;
    }

    .buttons a{
        width: 100%;
        text-align: center;
        margin-bottom: 3%;
    }

    /* about */
    #about #wrapper p#paragraf{
        font-size: 2em;
    }

    /* contact */
    #contact h2{
        font-size: 2em;
    }

    #contact p#p1{
        width: 100%;
        text-align: center;
        margin: 0 auto 10% auto;
        padding: 0;
        font-size: 2em;
    }

    #contact p#p2{
        font-size: 2em;
    }

    /* navigation */
    #navigation span{
        font-size: 3em;
    }
}