:root {
  --white: #fff6ff;
  --darkerWhite: #f1eaff;
  --violet: #9a80e9;
  --dark: #3a3546;
}

main#projects {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main#projects h1 {
  font-size: 3em;
  margin-bottom: 7%;
}

main#projects section {
  display: flex;
  justify-content: space-around;
}

main#projects .project {
  padding: 1%;
  background-color: var(--darkerWhite);
  margin: 3%;
  border-radius: 1em;
}

main#projects .wrapper {
  text-align: left;
}

main#projects .project img {
  width: 100%;
  border-radius: 0.5em;
}

main#projects h3 {
  font-size: 1.5em;
}

main#projects p {
  margin-bottom: 6%;
}

main#projects a {
  display: inline-block;
  background-color: #9a80e9;
  color: var(--darkerWhite);
  padding: 2%;
  margin-right: 2%;
  border-radius: 2em;
  cursor: pointer;
  text-decoration: none;
}
