#nav p#down {
  animation: down-up 1.5s ease infinite;
  display: block;
  z-index: 1000;
}

@keyframes down-up {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0px);
  }
}
