:root {
  --white: #fff6ff;
  --darkerWhite: #f1eaff;
  --violet: #9a80e9;
  --dark: #3a3546;
}

body {
  --sb-track-color: transparent;
  --sb-thumb-color: #c2c2c2;
  --sb-size: 15px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 20px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 20px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
