/* :root {
  --white: #e5e7f4;
  --violet: #99a2e4;
  --dark: #080a19;
}

nav {
  width: 55%;
  background-color: var(--dark);
  padding: 0.3%;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 2em 2em 0 0;
  z-index: 10000;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2%;
  font: 2em "Joan";
  letter-spacing: 6px;
}

a {
  text-decoration: none;
  color: var(--white);
}
 */
